certifi==2026.7.22
charset-normalizer==3.5.1
deprecation==2.1.0
eyed3==0.9.9
filetype==1.2.0
idna==3.20
packaging==26.3
pip==26.2.1
prompt-toolkit==3.0.53
questionary==2.1.1
requests==2.34.2
urllib3==2.8.0
wcwidth==0.9.1
yt-dlp==2026.8.19
